<datalist id="movie_datafile_list">
	{datalist_options}
</datalist>
  
<form name="import-excel-data" method="POST" action="{framework_url}?option={option}&amp;parameters={parameters}">
	<table class="table-95">
	   <tr>
	      <td>
	         <table class="table-100">
	            <tr>
	               <td class="CSSpageTITLE td-60-left">
	                  {excel_data_title} 
	               </td>
	               <td class="CSScontent td-50-right">
	               </td>
	            </tr>
	         </table>
	      </td>
	   </tr>
	   <tr>
	      <td><img src="{web_template_path}/images/line_light.gif" class="line-light-image" alt="Application Divider"></td>
	   </tr>
	   <tr>
	      <td class="vertical-top-align">
	         {table_data}
	      </td>
	   </tr>
	   <tr>
	      <td>
	         &nbsp;
	      </td>
	   </tr>
	   <tr>
	      <td>
	         <input type="submit" name="import_excel_data" value="Import Excel Data" />
	      </td>
	   </tr>
	   <tr>
	      <td>
	         <table class="CSSfooter table-100">
	            <tr>
	               <td><img src="{web_template_path}/images/line_dark.gif" class="line-dark-image" alt="Footer Divider"></td>
	            </tr>
	         </table>
	      </td>
	   </tr>
	</table>
</form>