
<table class="table-95">
   <tr>
      <td>
         <table class="table-100">
            <tr>
               <td class="CSSpageTITLE td-50-left">
                  {list_page_title}
               </td>
               <td class="CSScontent td-50-right">
               
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td><img src="{framework_template_url}/images/line_light.gif" class="line-light-image" alt="Application Divider"></td>
   </tr>
   <tr>
      <td class="vertical-top-align">
         {table_data}
      </td>
   </tr>
   <tr>
      <td>
         &nbsp;
      </td>
   </tr>
   <tr>
      <td>
         <table class="CSSfooter table-100">
            <tr>
               <td><img src="{framework_template_url}/images/line_dark.gif" class="line-dark-image" alt="Footer Divider"></td>
            </tr>
         </table>
      </td>
   </tr>
</table>