<table class="table-95">
   <tr>
      <td>
         <table class="table-100">
            <tr>
               <td class="CSSpageTITLE td-50-left">
                  {list_page_title} | 
                  <a href="{web_application_url}?option={file_upload_option}" id="upload_file_link">
                  	<img class="input-button-image" src="{web_template_path}/basicsite/images/btn_newEvent.gif" title="{input_button_title}" />
                  </a>
               </td>
               <td class="CSScontent td-50-right">
               	{movie_week_dropdown_label} {movie_week_dropdown}
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr>
      <td><img src="{web_template_path}/basicsite/images/line_light.gif" class="line-light-image" alt="Application Divider"></td>
   </tr>
   <tr>
      <td class="vertical-top-align">
         {table_data}
      </td>
   </tr>
   <tr>
      <td>
         &nbsp;
      </td>
   </tr>
   <tr>
      <td>
         <table class="CSSfooter table-100">
            <tr>
               <td><img src="{web_template_path}/basicsite/images/line_dark.gif" class="line-dark-image" alt="Footer Divider"></td>
            </tr>
         </table>
      </td>
   </tr>
</table>